section#footer{
  height: 8%;
  background: linear-gradient(to bottom, #ffd194 0%,#d1913c 100%);
  border-bottom: 1px solid black;
  font-size: 1.5em;
  .footerBox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

